.button-container {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 h1{
     font-family: Oswald;  
 }
 
 p{
     font-family: Oswald;  
 }
 #bienvenido{
     font-family: Oswald;
      
  }
 .button:hover {
     background-color: #d2e1ec;
 }
 .boton1{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
   .boton2{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
   .boton3{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
   .boton4{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
 
   .boton1{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
 
   .boton2{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
     
   }
 
   .boton3{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }
 
   .boton4{
     display: inline-block;
     background-color: #0c6a64;
     border: none;
     color: white;
     text-align: center;
     font-size: 16px;
     padding: 10px 20px;
     margin: 10px;
     cursor: pointer;
     border-radius: 7px;
     width: 100%;
   }